@media(max-width: 360px){
    .menu {
        width: 180px;
        height: 76px;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        z-index: 3;
        position: absolute;
        margin-top: 30px;
        margin-left: 160px;
        flex-direction: column;
        justify-content: start;
    }
    .h1Menu {
        font-size: 12px;
        margin: 0;
        position: relative;
        left: 20px;
        color: #262626;
    }
    .container {
        padding: 5px;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .container img {
        position: relative;
        left: 10px;
    }
  
}